<!DOCTYPE >
<html>

<head>
	<title>area of 2D shapes</title>
	<style type="text/css">
* {
		font-family: 'Roboto', sans-serif;
	}
	
	body {
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
	
	#mainh {
		text-align: center;
		padding: 10px;
	}
	
	.areah {
		text-align: center;
		font-size: 23px;
	}
	
	.area {}
	
	input[type=text] {
		padding: 10px;
		margin: 10px 0;
		border: 2px solid #eee;
		box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
		border-radius: 10px;
		width: 50%;
	}
	
	input[type=number] {
		padding: 10px;
		margin: 10px 0;
		border: 0;
		/*  border: 2px solid #eee;*/
		box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
		border-radius: 10px;
		width: 50%;
	}
	
	input[type=button] {
		/* remove default behavior */
		appearance: none;
		-webkit-appearance: none;
		/* usual styles */
		padding: 10px;
		border: none;
		background-color: #3F51B5;
		color: #fff;
		font-weight: 600;
		border-radius: 5px;
	}
	
	form {
		margin-left: 40px;
	}
}
	</style>
	<script type="text/javascript">
	let pie = 22 / 7
		//area of cuboid
	function areaofcuboid() {
		let inputl = document.getElementById("lengthofcubo").value;
		let inputb = document.getElementById("breathofcubo").value;
		let inputh = document.getElementById("heightofcubo").value;
		let output = document.getElementById("cuboarea");
		parseFloat(inputl, inputb, inputh, output);
		let area = 2 * [inputl * inputh + inputb * inputh + inputl * inputb];
		let csacubo = 2 * inputh * inputl + 2 * inputh * inputb;
		console.log(area);
		console.log(csacubo);
		output.value = "area of cuboid is " + area + " CSA of cuboid is " + csacubo;
	}
	// Area of cube
	function areaofcube() {
		let input = document.getElementById("lengthofcube").value;
		let output = document.getElementById("resultareaofcube");
		parseFloat(input, output);
		let area = 6 * input ** 2;
		let csa = 4 * input ** 2;
		console.log(area);
		console.log(csa);
		output.value = "TSA of cube is " + area + " CSA of cube is " + csa;
	}
	//Area of cylinder
	function areaofcylinder() {
		let inputr = document.getElementById("radiusofcyl").value;
		let inputh = document.getElementById("heightofcyl").value;
		let output = document.getElementById("cylarea");
		parseFloat(inputr, inputh, output);
		let area = 2 * pie * inputr * inputh + 2 * pie * inputr ** 2;
		let csa = 2 * pie * inputr * inputh;
		console.log(area);
		console.log(csa);
		output.value = "TSA of cylinder is " + area + " CSA of cylinder is " + csa;
	}
	//Area of Cone
	//Slant Height
	function slantheightofcone() {
		height = document.getElementById("heightofcone").value;
		radius = document.getElementById("radiusofcone1").value;
		output = document.getElementById("resultslant");
		parseFloat(height, radius);
		let length1 = Math.sqrt(height ** 2 + radius ** 2);
		console.log(length1);
		output.value = "Slant Height is " + length1;
		let length = document.getElementById("lengthofcone");
		length.value = length1;
		let radius1 = document.getElementById("radiusofcone");
		radius1.value = radius;
	}
	//area of cone
	function areaofcone() {
		let inputr = document.getElementById("radiusofcone").value;
		let inputl = document.getElementById("lengthofcone").value;
		let output = document.getElementById("resultconearea");
		parseFloat(inputr, inputl, output);
		let area = pie * inputr * inputl + pie * inputr ** 2;
		let csa = pie * inputr * inputl;
		console.log(csa);
		console.log(area);
		output.value = "TSA of cone is " + area + " CSA of cone is " + csa;
	}
	//area of sphere
	function areaofsphere() {
		let inputr = document.getElementById("radiusofsphere").value;
		let output = document.getElementById("resultspherearea");
		parseFloat(inputr, output);
		let area = 4 * pie * inputr ** 2;
		let csa = 4 * pie * inputr ** 2;
		console.log(area);
		console.log(csa);
		output.value = "TSA of sphere is " + area + " CSA of sphere is " + csa;
	}
	//hemisphere
	function areaofhemisphere() {
		let inputr = document.getElementById("radiusofhemisphere").value;
		let output = document.getElementById("resulthemispherearea");
		parseFloat(inputr, output);
		let area = 3 * pie * inputr ** 2;
		let csa = 2 * pie * inputr ** 2;
		console.log(area);
		console.log(csa);
		output.value = "TSA of hemi sphere is " + area + " CSA of  hemi sphere is " + csa;
	}
	</script>
	<link href="../style.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script type="text/javascript" src="../plugins/jquery.js">
	</script>
	<script type="text/javascript">
	$(function() {
		$("#navbar").load("./navbar.html")
	})
	</script>
</head>

<body>
	<div id="navbar"></div>
	<h1 id="mainh"> AREA OF SOLID</h1>
	<h3 class="areah"> Area Of Cube </h3>
	<form class="area" action=>
		<fieldset>
			<label>Enter Your Length : </label>
			<input type="number" id="lengthofcube" placeholder="length" />
			<br>
			<input type="button" value="Calculate" onclick="areaofcube()" />
			<input type="text" id="resultareaofcube" placeholder="Ans : Area Of Cube" disabled="disabled" />
			<br>
			<input type="reset" value="reset"> </fieldset>
	</form>
	<h3 class="areah"> Area Of Cuboid</h3>
	<form class="area" action=>
		<fieldset>
			<label>Enter Your Length : </label>
			<input type="number" id="lengthofcubo" placeholder="length" />
			<br>
			<label>Enter Your Breath :</label>
			<input type="number" id="breathofcubo" placeholder="breath" />
			<br>
			<label>Enter Your Height :</label>
			<input type="number" id="heightofcubo" placeholder="height" />
			<br>
			<input type="button" value="Calculate" onclick="areaofcuboid()" />
			<input type="text" id="cuboarea" placeholder="Ans :" disabled="disabled" />
			<br>
			<input type="reset" value="reset"> </fieldset>
	</form>
	<h3 class="areah"> Area Of Cylinder</h3>
	<form class="area" action=>
		<fieldset>
			<label>Enter Your Radius: </label>
			<input type="number" id="radiusofcyl" placeholder="radius" />
			<br>
			<label>Enter Your Height :</label>
			<input type="number" id="heightofcyl" placeholder="height" />
			<br>
			<input type="button" value="Calculate" onclick="areaofcylinder()" />
			<input type="text" id="cylarea" placeholder="Ans :" disabled="disabled" />
			<br>
			<input type="reset" value="reset"> </fieldset>
	</form>
	<h3 class="areah"> Area Of Cone</h3>
	<form class="area" action=>
		<fieldset>
			<label>Enter Your Height : </label>
			<input type="number" id="heightofcone" placeholder="height" />
			<br>
			<label>Enter Your Radius :</label>
			<input type="number" id="radiusofcone1" placeholder="radius" />
			<br>
			<input type="button" value="Calculate" onclick="slantheightofcone(),areaofcone()" />
			<input type="text" id="resultslant" placeholder="Ans :" disabled="disabled" /> </fieldset>
		<fieldset>
			<label>Enter Your Radius : </label>
			<input type="number" id="radiusofcone" placeholder="radius" />
			<br>
			<label>Enter Your Slant Height :</label>
			<input type="number" id="lengthofcone" placeholder="length" />
			<br>
			<input type="button" value="Calculate" onclick="areaofcone()" />
			<input type="text" id="resultconearea" placeholder="Ans :" disabled="disabled" />
			<br>
			<input type="reset" value="reset"> </fieldset>
	</form>
	<h3 class="areah"> Area Of Sphere</h3>
	<form class="area" action=>
		<fieldset>
			<label>Enter Your Radius : </label>
			<input type="number" id="radiusofsphere" placeholder="radius" />
			<br>
			<input type="button" value="Calculate" onclick="areaofsphere()" />
			<input type="text" id="resultspherearea" placeholder="Ans :" disabled="disabled" />
			<br>
			<input type="reset" value="reset"> </fieldset>
	</form>
	<h3 class="areah"> Area Of Solid HemiSphere</h3>
	<form class="area" action=>
		<fieldset>
			<label>Enter Your Radius : </label>
			<input type="number" id="radiusofhemisphere" placeholder="radius" />
			<br>
			<input type="button" value="Calculate" onclick="areaofhemisphere()" />
			<input type="text" id="resulthemispherearea" placeholder="Ans :" disabled="disabled" />
			<br>
			<input type="reset" value="reset"> </fieldset>
	</form>
</body>

</html>