<!DOCTYPE >
<html>

<head>
	<title>volume of 3d shapes</title>
	<style type="text/css">
	body {
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
	
	#mainh {
		text-align: center;
		padding: 1px;
	}
	
	.volumeh {
		text-align: center;
		font-size: 23px;
	}
	
	input[type=text] {
		padding: 10px;
		margin: 10px 0;
		border: 2px solid #eee;
		box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
		border-radius: 10px;
		width: 50%;
	}
	
	input[type=number] {
		padding: 10px;
		margin: 10px 0;
		border: 0;
		/*  border: 2px solid #eee;*/
		box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
		border-radius: 10px;
		width: 50%;
	}
	
	input[type=button] {
		/* remove default behavior */
		appearance: none;
		-webkit-appearance: none;
		/* usual styles */
		padding: 10px;
		border: none;
		background-color: #3F51B5;
		color: #fff;
		font-weight: 600;
		border-radius: 5px;
	}
	
	form {
		margin-left: 40px;
	}
	</style>
	<link href="../style.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script type="text/javascript" src="../plugins/jquery.js">
	</script>
	<script type="text/javascript">
	$(function() {
		$("#navbar").load("./navbar.html")
	})
	</script>
</head>

<body>
	<div id="navbar"></div>
	<h1 id="mainh"> VOLUME CALCULATION</h1>
	<h3 class="volumeh"> Volume Of Cube </h3>
	<form class="volume" action=>
		<fieldset>
			<legend>Volume Of Cube</legend>
			<label>Enter Your Length : </label>
			<input type="number" id="lengthofcube" placeholder="length" />
			<br>
			<input type="button" value="Calculate" onclick="volumeofcube()" />
			<input type="text" id="resultvolumeofcube" placeholder="Ans : Volume Of Cube" disabled="disabled" />
			<br>
			<input type="reset" value="reset"> </fieldset>
	</form>
	<h3 class="volumeh"> Volume Of Cuboid</h3>
	<form class="volume" action=>
		<fieldset>
			<legend>Volume Of Cuboid</legend>
			<label>Enter Your Length : </label>
			<input type="number" id="lengthofcubo" placeholder="length" />
			<br>
			<label>Enter Your Breath :</label>
			<input type="number" id="breathofcubo" placeholder="breath" />
			<br>
			<label>Enter Your Height :</label>
			<input type="number" id="heightofcubo" placeholder="height" />
			<br>
			<input type="button" value="Calculate" onclick="volumeofcuboid()" />
			<input type="text" id="cubovolume" placeholder="Ans : Volume Of Cuboid" disabled="disabled" />
			<br>
			<input type="reset" value="reset"> </fieldset>
	</form>
	<h3 class="volumeh"> Volume Of Cylinder</h3>
	<form class="volume" action=>
		<fieldset>
			<legend>Volume Of Cylinder</legend>
			<label>Enter Your Radius: </label>
			<input type="number" id="radiusofcyl" placeholder="radius" />
			<br>
			<label>Enter Your Height :</label>
			<input type="number" id="heightofcyl" placeholder="height" />
			<br>
			<input type="button" value="Calculate" onclick="volumeofcylinder()" />
			<input type="text" id="cylvolume" placeholder="Ans : Volume Of Cylinder" disabled="disabled" />
			<br>
			<input type="reset" value="reset"> </fieldset>
	</form>
	<form>
		<h3 class="volumeh"> Volume Of Cone</h3>
		<fieldset>
			<legend>Volume Of Cone</legend>
			<label>Enter Your Radius : </label>
			<input type="number" id="radiusofcone" placeholder="radius" />
			<br>
			<label>Enter Your Height :</label>
			<input type="number" id="heightofcone" placeholder="length" />
			<br>
			<input type="button" value="Calculate" onclick="volumeofcone()" />
			<input type="text" id="resultconevolume" placeholder="Ans : Volume Of Cone" disabled="disabled" />
			<br>
			<input type="reset" value="reset"> </fieldset>
	</form>
	<h3 class="volumeh"> Volume Of Sphere</h3>
	<form class="volume" action=>
		<fieldset>
			<legend>Volume Of Sphere</legend>
			<label>Enter Your Radius : </label>
			<input type="number" id="radiusofsphere" placeholder="radius" />
			<br>
			<input type="button" value="Calculate" onclick="volumeofsphere()" />
			<input type="text" id="resultspherevolume" placeholder="Ans : Volume Of Sphere" disabled="disabled" />
			<br>
			<input type="reset" value="reset"> </fieldset>
	</form>
	<script>
	var pie = 22 / 7;
	//volume of cuboid
	let perstartcubo = performance.now();

	function volumeofcuboid() {
		let inputl = document.getElementById("lengthofcubo");
		let inputb = document.getElementById("breathofcubo");
		let inputh = document.getElementById("heightofcubo");
		let output = document.getElementById("cubovolume");
		let inputl1 = inputl.value;
		let inputb1 = inputb.value;
		let inputh1 = inputh.value;
		parseFloat(inputl1, inputb1, inputh1);
		parseFloat(output);
		let volume = inputl1 * inputb1 * inputh1;
		console.log(volume);
		output.value = "Volume of cuboid is " + volume;
		let perendcubo = performance.now();
		console.log(`${perendcubo-perstartcubo} milli seconds`)
     	}
	// volume of cube
	let perstartcube = performance.now();

	function volumeofcube() {
		let input = document.getElementById("lengthofcube");
		let output = document.getElementById("resultvolumeofcube");
		let input2 = input.value;
		parseFloat(input2);
		parseFloat(output);
		let volume = input2**3;
		console.log(volume);
		output.value = "Volume of cube is " + volume;
		let perendcube = performance.now();
		console.log(`${perendcube-perstartcube} milli seconds`)
	}
	//volume of cylinder
	function volumeofcylinder() {
		let perstartcyl = performance.now();
		let inputr = document.getElementById("radiusofcyl");
		let inputh = document.getElementById("heightofcyl");
		let output = document.getElementById("cylvolume");
		let inputr1 = inputr.value;
		let inputh1 = inputh.value;
		parseFloat(inputr1);
		parseFloat(inputh1);
		parseFloat(output);
		let volume = pie * inputr1 ** 2 * inputh1;
		console.log(volume);
		output.value = "Volume of cylinder is " + volume;
		let perendcyl = performance.now();
		console.log(`${perendcyl-perstartcyl} milli seconds`)
	}
	//volume of cone
	function volumeofcone() {
		let perstartcone = performance.now();
		let inputr = document.getElementById("radiusofcone");
		let inputh = document.getElementById("heightofcone");
		let output = document.getElementById("resultconevolume");
		let inputr1 = inputr.value;
		let inputh1 = inputh.value;
		parseFloat(inputr1);
		parseFloat(inputh1);
		parseFloat(output);
		let volume = pie * inputr1 ** 2 * inputh1 / 3;
		console.log(volume);
		output.value = "Volume of cone is " + volume;
		let perendcone = performance.now();
		console.log(`${perendcone-perstartcone} milli seconds`)
	}
	//volume of sphere
	function volumeofsphere() {
		let perstartsph = performance.now();
		let inputr = document.getElementById("radiusofsphere");
		let output = document.getElementById("resultspherevolume");
		let inputr1 = inputr.value;
		parseFloat(inputr1);
		parseFloat(output);
		let volume = 4 / 3 * pie * inputr1 ** 3;
		console.log(volume);
		output.value = "TSA of sphere is " + volume;
		let perendsph = performance.now();
		console.log(`${perendsph-perstartsph} milli seconds`)
	}
	</script>
</body>

</html>